---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Cybersecurity</h2>
		<p>Self-taught through online platforms and hands-on labs, with a strong foundation in digital security practices.</p>	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>DevOps</h2>
		<p>Focus on automation, CI/CD pipelines, and collaboration between development and operations for efficient delivery.</p>	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Adaptability</h2>
		<p>Quick learner able to thrive independently or as part of a team in fast-paced environments.</p>	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
